---
- hosts: nodes
  tasks:
  - name: Start Service Spooler
    win_service:
      name: spooler
      state: started 
  
  - name: Execute command in Windows
    win_shell: dir
    args:
        executable: cmd
    register: out

  - debug: var=out.stdout_lines

  - name: Get disk facts
    win_disk_facts:

  - name: Output first disk size
    debug:
      var: ansible_facts.disks[0].size

  - name: Convert first system disk into various formats
    debug:
      msg: '{{ disksize_gib }} vs {{ disksize_gib_human }}'
    vars:
      # Get first system disk
      disk: '{{ ansible_facts.disks|selectattr("system_disk")|first }}'

      # Show disk size in Gibibytes
      disksize_gib_human: '{{ disk.size|filesizeformat(true) }}'
      disksize_gib: '{{ (disk.size/1024|pow(3))|round|int }} GiB'
